In [1]:
import pandas as pd

In [2]:
# .read_csv('파일명.csv') csv 데이터 읽기
data=pd.read_csv('kr_googlestore.csv')

<br><br>

------------------

### e. 데이터 확인

- ```.values``` : numpy 데이터 확인하기 => 값 얻기

#### 데이터 확인 : .values

In [4]:
data.values

array([['Photo Editor & Candy Camera & Grid & ScrapBook', 'Art & Design',
        4.1, ..., 2018, 1, 2018.01],
       ['Coloring book moana', 'Art & Design;Pretend Play', 3.9, ...,
        2018, 1, 2018.01],
       ['U Launcher Lite – FREE Live Cool Themes, Hide Apps',
        'Art & Design', 4.7, ..., 2018, 8, 2018.08],
       ...,
       ['Gas Station', 'Auto & Vehicles', 4.0, ..., 2018, 4, 2018.04],
       ['Hush - Beauty for 전체가', 'Beauty', 4.7, ..., 2018, 8, 2018.08],
       ['ipsy: Makeup, Beauty, and Tips', 'Beauty', nan, ..., 2017, 11,
        2017.11]], dtype=object)

values는 데이터를 배열로 뽑아서 보여줌

------------------

### c. 데이터 값 살펴보기: uniqe, value


### 앱의 안드로이드 버전들이 몇 몇이 있는지 한번 확인해 볼까요? 

컬럼을 선택할 때는 꼭 ''로 감싸서 스트링으로 넣어줘야 함

- ```unique``` : 데이터 안에 있는 값을 중복 없이 반환
- ```nunique``` : 데이터 안에 있는 값을 중복 제외된 갯수를 확인

<br>

- ```values```: 데이터 안에 어떤 값이 들어있는지 중복 포함하여 모두 반환
- ```value_counts```: 데이터 안에 어떤 값이 들어있는지 갯수 확인

#### 데이터 값의 종류 확인 : unique()

중복된 값들을 제거하고 보여줌. 값 종류들을 알 수 있음.

In [5]:
data['안드로이드 버전'].unique()

array([4. , 4.2, 4.4, 2.3, 3. , 4.1, 2.2, 5. , 6. ])

#### 데이터 값의 종류 갯수 확인 : nuniqe()

중복된 값들을 제거하고, 값 갯수를 세어줌

In [6]:
data['안드로이드 버전'].nunique()

9

#### 데이터 값 확인 : values

중복을 제거하지 않고 순서대로 모든 값을 배열로 보여줌.

In [7]:
data['안드로이드 버전'].values

array([4. , 4. , 4. , 4.2, 4.4, 2.3, 4. , 4.2, 3. , 4. , 4.1, 4. , 4.1,
       4.4, 2.3, 4.2, 4.1, 2.3, 4. , 4.1, 4.1, 4. , 4. , 4.1, 4.1, 3. ,
       4. , 4. , 2.3, 2.3, 4. , 2.3, 4. , 4.1, 4.1, 4.1, 4.4, 2.3, 4. ,
       4. , 4. , 4. , 4. , 4.1, 4.1, 4.1, 4.1, 4.1, 2.3, 4. , 4.1, 4.1,
       4.1, 4.1, 4.1, 4. , 4.4, 4.1, 2.2, 4.4, 4. , 4.2, 4.1, 4. , 4.2,
       4.4, 2.3, 2.3, 2.3, 4. , 4. , 4.2, 5. , 2.3, 4. , 4. , 4.1, 4. ,
       4.1, 4.1, 6. , 4.2, 5. , 4. , 4.4, 4.4, 2.3, 4. , 4. , 4. , 4.1,
       4. , 4. , 4. , 4. , 4. , 4. , 4. , 5. , 4.1])

#### 데이터 값의 종류 갯수 확인 : value_counts()

In [8]:
data['안드로이드 버전'].value_counts()

4.0    38
4.1    27
2.3    13
4.4     8
4.2     7
5.0     3
3.0     2
2.2     1
6.0     1
Name: 안드로이드 버전, dtype: int64

----------------------------

In [9]:
# DataFrame을 만들면서 columns와 index를 설정할 수 있다.
df2 = pd.DataFrame(data, columns=['year', 'name', 'points', 'penalty'],
                  index=['one', 'two', 'three', 'four', 'five'])
df2

       year  name  points  penalty
one     NaN   NaN     NaN      NaN
two     NaN   NaN     NaN      NaN
three   NaN   NaN     NaN      NaN
four    NaN   NaN     NaN      NaN
five    NaN   NaN     NaN      NaN

In [10]:
# DataFrame을 만들면서 columns와 index를 설정할 수 있다.
data2 = pd.DataFrame(data, columns=['year', 'name', 'points', 'penalty'],
                  index=['one', 'two', 'three', 'four', 'five'])
df2

       year  name  points  penalty
one     NaN   NaN     NaN      NaN
two     NaN   NaN     NaN      NaN
three   NaN   NaN     NaN      NaN
four    NaN   NaN     NaN      NaN
five    NaN   NaN     NaN      NaN