---
<br><br><br>

# Pandas

### Pandas : 파이썬에서 사용하는 데이터분석 라이브러리

행과 열로 이루어진 데이터 객체를 만들어 다룰 수 있다. 

보다 안정적으로 대용량의 데이터들을 처리하는데 매우 편리한 도구.



<br>

``
사용법
``
pandas를 설치한 후, 아래와 같이 import

``as pd`` 앞으로 pandas 내부 메서드(함수)를 활용 할 때 pd로 줄여서 호출한다는 의미

In [4]:
import pandas as pd

판다스 공식문서 및 참고 링크
- https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html
- https://dandyrilla.github.io/2017-08-12/pandas-10min/
- https://doorbw.tistory.com/172

---
<br><br>

# Pandas 자료구조

- pandas에서는 기본적으로 정의되는 자료구조인 Series와 Data Frame을 사용. 
- 이 자료구조들은 빅데이터 분석에 있어서 높은 수준의 성능을 보여줌.

### 1. Series
### 2. Data Frame

<br><br>

---

### 1. Series : 시리즈

인덱스(index)와 값(value)을 쌍으로 갖는 데이터들로 이루어진다.

리스트와 비슷하지만, 인덱스를 순서가 아닌 값을 넣을 수 있는 데이터 타입

#### series 생성

In [5]:
obj = pd.Series([4,7,-5,3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

#### .values : 값 확인하기

In [6]:
obj.values

array([ 4,  7, -5,  3])

#### .index :  인덱스 확인하기

In [7]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
# 시리즈는 리스트와 다르게 인덱스를 순서가 아닌 것으로 바꿀 수 있다.
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [10]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

---

### 딕셔너리 자료형을 Series data로 만들기


Dictionary의 key가 Series의 index로 변환된다.

In [ ]:
sdata = {'Kim': 35000, 'Beomwoo': 67000, 'Joan': 12000, 'Choi': 4000}
obj3 = pd.Series(sdata)
obj3

In [ ]:
obj3.name = 'Salary'
obj3.index.name = "Names"
obj3

---


### 2. Data Frame : 데이터 프레임

시리즈의 모음, 행과 열의 구조를 가진 데이터


데이터를 확인해 보면 엑셀과 같은 테이블 구조를 가진 데이터를 볼 수 있다.

In [2]:
# 이전에 DataFrame에 들어갈 데이터를 정의해주어야 하는데,
# 이는 python의 dictionary 또는 numpy의 array로 정의할 수 있다.

data = {'name': ['Beomwoo', 'Beomwoo', 'Beomwoo', 'Kim', 'Park'],
        'year': [2013, 2014, 2015, 2016, 2015],
        'points': [1.5, 1.7, 3.6, 2.4, 2.9]}
df = pd.DataFrame(data)
df

      name  year  points
0  Beomwoo  2013     1.5
1  Beomwoo  2014     1.7
2  Beomwoo  2015     3.6
3      Kim  2016     2.4
4     Park  2015     2.9