# 리스트, List

**리스트(List) :** 배열, 데이터의 모음 자체

    리스트 만들기
    
    리스트의 인덱싱과 슬라이싱
        리스트의 인덱싱
        리스트의 슬라이싱
    
    리스트 연산하기
        리스트 더하기(+)
        리스트 반복하기(*)

    리스트 길이구하기
    
    리스트의 수정과 삭제
        리스트에서 값 수정하기
        del 함수 사용해 리스트 요소 삭제하기

    리스트 관련 함수들
        리스트에 요소 추가(append)
        리스트 정렬(sort)
        리스트 뒤집기(reverse)
        위치 반환(index)
        리스트에 요소 삽입(insert)
        리스트 요소 제거(remove)
        리스트 요소 끄집어내기(pop)
        리스트에 포함된 요소 x의 개수 세기(count)
        리스트 확장(extend)
        
    문자열 리스트화 시키기
        list('김, 이, 박, 최')

## 리스트 만들기

- 대괄호 속에 요소를 넣어서 만든다. 
- 요소 구분은 쉼표로 해준다.
- 리스트 안에 리스트를 넣을 수도 있고, 어떠한 데이터 타입이든 들어갈 수 있다.

In [26]:
li = []
li = [1, 2, 3]
li = ['Name', 'Age', 'Phone', 'City']
li = [1, 2, 'Name', 'City']
li = [1, 2, 3, 4, 'Cat', ['Name', 'City']]

# 같은 변수명에 저장하면 가장 마지막 값이 저장됨

## 리스트의 인덱싱과 슬라이싱

문자열 많이 비슷

### 리스트 길이
string은 문자열의 문자 갯수를 내놓지만, 
리스트는 내부 요소의 갯수를 내놓는다.

In [2]:
len(li)

6

### 리스트 인덱싱

In [3]:
print(li[0])
print(li[1])
print(li[2])

1
2
3

### 리스트 슬라이싱

In [4]:
li[1:]

[2, 3, 4, 'Cat', ['Name', 'City']]

In [5]:
li[0:]

[1, 2, 3, 4, 'Cat', ['Name', 'City']]

In [6]:
li[-1]

['Name', 'City']

In [7]:
li[:4:2]

[1, 3]

In [8]:
li[::-2]

[['Name', 'City'], 4, 2]

### 리스트 연산하기
    리스트 더하기(+)
    리스트 반복하기(*)

In [19]:
# li += li
# li
li.append(a)

TypeError: sequence item 0: expected str instance, int found

In [22]:
li + a

[1, 2, 3, 4, 'Cat', ['Name', 'City'], ['a', 'b'], 'a', 'b']

In [18]:
a= ['a','b']
"".join(a)

'ab'

In [10]:
li += ['a']
# li += 'a'

In [11]:
li

[1, 2, 3, 4, 'Cat', ['Name', 'City'], 1, 2, 3, 4, 'Cat', ['Name', 'City'], 'a']

In [12]:
li * 2 #내부 요소를 한번 반복해서 하나의 리스트로 반환해 줌

[1,
 2,
 3,
 4,
 'Cat',
 ['Name', 'City'],
 1,
 2,
 3,
 4,
 'Cat',
 ['Name', 'City'],
 'a',
 1,
 2,
 3,
 4,
 'Cat',
 ['Name', 'City'],
 1,
 2,
 3,
 4,
 'Cat',
 ['Name', 'City'],
 'a']

In [13]:
type(li)

list

In [14]:
li

[1, 2, 3, 4, 'Cat', ['Name', 'City'], 1, 2, 3, 4, 'Cat', ['Name', 'City'], 'a']

### 리스트의 수정과 삭제
    리스트에서 값 수정하기
    del 함수 사용해 리스트 요소 삭제하기

### 리스트 관련 함수들
    리스트에 요소 추가(append)
    리스트 정렬(sort)
    리스트 뒤집기(reverse)
    위치 반환(index)
    리스트에 요소 삽입(insert)
    리스트 요소 제거(remove)
    리스트 요소 끄집어내기(pop)
    리스트에 포함된 요소 x의 개수 세기(count)
    리스트 확장(extend)
    
    ''.join(list) -> 문자열 바꿔주는 거(요소들이 str이여야함)

### 문자열 리스트화 시키기
    list('김, 이, 박, 최')