In [1]:
# pandas 사용하기
import pandas as pd

import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

---
#### 참고 링크:
https://wikidocs.net/64


함수 내용은 <3강 보조자료-함수> 가 있기 때문에 그 내용 복사하면 될 듯
<br><br><br><br><br>

-------

## 1. Lambda(람다) : 익명의 함수 정의

- 표현 방법 -> lambda x: 함수, 리스트 / lambda 인자 : 표현식

예시) 두 수를 더하는 함수

In [4]:
def plus(x, y):
   return x + y

In [5]:
plus(5,6)

11

예시) lambda 형식 변경

In [6]:
(lambda x,y: x + y)(5, 6)

11

---
<br><br><br>

## 2. MAP : lambda 함수를 리스트 원소에 적용

표현 방식-> map(lambda x: 함수, 리스트)
- 함수와 리스트를 인자로 받는다. 리스트로 부터 원소를 하나씩 꺼내서 함수를 적용시킨 다음, 그 결과를 새로운 리스트에 담아준다.

- map 함수는 DataFrame 타입이 아니라, 반드시 Series 타입에서만 사용.

예시) range(1, 5) 제곱하는 range 함수

In [35]:
multiply = []

for x in range(1, 5) :

    multiply.append(x ** 2)

print(multiply)

[1, 4, 9, 16]

예시) map 형식 변경

In [10]:
list(map(lambda x: x ** 2, range(5)))

[0, 1, 4, 9, 16]

함수 설명:

1. map 함수가 인자로 받은 함수는 lambda x: x ** 2, 리스트로 range(5)를 받는다. 
2. range(5) 함수가 [0,1,2,3,4] 리스트를 돌려준다
3. [0,1,2,3,4] 리스트를 x**2 (x값 제곱)한다
4. 결과값 도출

## 3. apply : lambda 함수 적용한 컬럼들로 Pandas DataFrame 만들기

표현 방식-> apply(lambda x: 함수, 리스트)

- 데이터 전처리 유용.

In [37]:
aa = pd.DataFrame({'id': ['a', 'a', 'a', 'b', 'b'],
                    'val': [1, 2, 3, 4, 5]})

In [38]:
aa

  id  val
0  a    1
1  a    2
2  a    3
3  b    4
4  b    5

In [41]:
df = aa.groupby('id').apply(lambda x:

      pd.Series({'clst_obs_cnt': len(x), 
                 'clst_val_sum': sum(x.val), 
                 'id_list': x.id.tolist()})).reset_index()

In [40]:
df

  id  clst_obs_cnt  clst_val_sum    id_list
0  a             3             6  [a, a, a]
1  b             2             9     [b, b]

<br><br>
**실제 데이터 적용**

In [51]:
data=pd.read_csv('kr_googlestore.csv')

In [52]:
data.head()

,어플,장르,등급,리뷰 수,크기,설치 수,타입,가격,연령층,안드로이드 버전,업데이트_년도,업데이트_달,업데이트_년달
0,Photo Editor & Candy Camera & Grid & ScrapBook,Art & Design,4.1,159,190.0,10000,무료,0,전체가,4.0,2018,1,2018.01
1,Coloring book moana,Art & Design;Pretend Play,3.9,967,140.0,500000,무료,0,전체가,4.0,2018,1,2018.01
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",Art & Design,4.7,87510,8.7,5000000,무료,0,전체가,4.0,2018,8,2018.08
3,Sketch - Draw & Paint,Art & Design,4.5,215644,250.0,50000000,무료,0,청소년,4.2,2018,6,2018.06
4,Pixel Draw - Number Art Coloring Book,Art & Design;Creativity,4.3,967,2.8,100000,무료,0,전체가,4.4,2018,6,2018.06

### 각 열의 최대값과 최솟값의 차이 구하기.

In [58]:
data.apply(lambda x: x.max() - x.min())

TypeError: ("unsupported operand type(s) for -: 'str' and 'str'", 'occurred at index 어플')

In [ ]:
# 최대 - 최소 값을 행에 적용 하고 싶으면 axis = 1 인수 추가

In [ ]:
# data.apply(lambda x: x.max() - x.min(), axis=1)

<br><br>

----------

### 각 열에 어떤 값이 얼마나 사용되었는지 보고 싶을 때.

In [54]:
data.apply(pd.value_counts)

,어플,장르,등급,리뷰 수,크기,설치 수,타입,가격,연령층,안드로이드 버전,업데이트_년도,업데이트_달,업데이트_년달
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
1.1,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1.2,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2.2,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
2.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
"ipsy: Makeup, Beauty, and Tips",1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
무료,NaN,NaN,NaN,NaN,NaN,NaN,71.0,NaN,NaN,NaN,NaN,NaN,NaN
유료,NaN,NaN,NaN,NaN,NaN,NaN,29.0,NaN,NaN,NaN,NaN,NaN,NaN
전체가,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96.0,NaN,NaN,NaN,NaN
청소년,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN

<br><br>

----------

### NaN값을 내가 원하는 값으로 채워넣기

In [63]:
data.isnull().sum()

어플           0
장르           0
등급          17
리뷰 수         0
크기          10
설치 수         0
타입           0
가격           0
연령층          0
안드로이드 버전     0
업데이트_년도      0
업데이트_달       0
업데이트_년달      0
dtype: int64

In [64]:
data.apply(pd.value_counts).fillna(0).astype(int)

,어플,장르,등급,리뷰 수,크기,설치 수,타입,가격,연령층,안드로이드 버전,업데이트_년도,업데이트_달,업데이트_년달
1,0,0,0,0,0,0,0,0,0,0,0,4,0
1.1,0,0,0,0,1,0,0,0,0,0,0,0,0
1.2,0,0,0,0,1,0,0,0,0,0,0,0,0
2.2,0,0,0,0,1,0,0,0,0,1,0,0,0
2.3,0,0,0,0,0,0,0,0,0,13,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
"ipsy: Makeup, Beauty, and Tips",1,0,0,0,0,0,0,0,0,0,0,0,0
무료,0,0,0,0,0,0,71,0,0,0,0,0,0
유료,0,0,0,0,0,0,29,0,0,0,0,0,0
전체가,0,0,0,0,0,0,0,0,96,0,0,0,0
청소년,0,0,0,0,0,0,0,0,4,0,0,0,0

----
<br><br><br><br>

## 예시) lambda, map

In [45]:
if __name__ == '__main__':

    testArr1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
    testArr2 = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

    #lambda 사용법 : 매개변수1, 매개변수2, 매개변수X...: 출력식1 if 조건문 else 출력식2
    #if 조건식 사용할 경우 반드시 else 문 사용해야 한다.

    #람다 예제1 -> if-else 구문 활용한 기본 람다식 예제
    outArr1 = list(map(lambda x: 'OK' if x % 2 == 0 else x, testArr1))
    print('Lambda Example1 : ', outArr1)
 
    #람다 예제2 -> 다중 if-else 구문을 활용한 람다식 예제
    #다중 조건식은 코드의 가독성이 현저하게 떨어지므로, 되도록 함수로 분리
    outArr2 = list(map(lambda x: 'First' if x == 1 else 'Second' if x == 2 else x * x, testArr1))
    print('Lambda Example2 : ', outArr2)

    #람다 예제3 -> 다중 매개변수를 활용한 람다식 예제
    #다중 매개변수 map + 람다식 활용
    outArr3 = list(map(lambda x, y: x + y, testArr1, testArr2))
    print('Lambda Example3 : ', outArr3)

Lambda Example1 :  [1, 'OK', 3, 'OK', 5, 'OK', 7, 'OK', 9, 'OK']
Lambda Example2 :  ['First', 'Second', 9, 16, 25, 36, 49, 64, 81, 100]
Lambda Example3 :  [3, 6, 9, 12, 15, 18, 21, 24, 27, 30]