---

### 시리즈 사칙 연산


시리즈 내 모든 값과 같은 데이터 타입값을 + 하면 모든 값에 연산이 적용됨

In [11]:
sr2 + 1

d    2
b    4
a    6
c    8
dtype: int64

In [26]:
#string
series3 = pd.Series(['a','b','c','d'])

print(series3 + 'a')

0    aa
1    ba
2    ca
3    da
dtype: object

In [27]:
#하지만 원래 값이 변하는 것이 아니라 그렇게 반환할 뿐.
print(series3)

0    a
1    b
2    c
3    d
dtype: object

In [28]:
# 값을 넣어주면 변경 가능
series3 = series3 + 'a'
series3

0    aa
1    ba
2    ca
3    da
dtype: object

### 시리즈끼리 사칙연산

같은 인덱스끼리 연선을 해줌

In [9]:
series3 = pd.Series([10,1000,1000,10000])
series4 = pd.Series([1,2,3,4])

In [17]:
series3

0       10
1     1000
2     1000
3    10000
dtype: int64

In [45]:
series3 + series4

0       11
1     1002
2     1003
3    10004
dtype: int64

#### 서로 다른 위치에 있는 시리즈는 인덱스가 같으면, 저절로 값을 더 해준다.

In [46]:
series5 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])

In [47]:
print(series2)
print(series5)

d    1
b    3
a    5
c    7
dtype: int64
a    1
b    2
c    3
d    4
dtype: int64

In [42]:
merge = series2 + series5

In [43]:
merge

a     6
b     5
c    10
d     5
dtype: int64

#### 주의 : 시리즈 인덱스가 다르면 존재하는 모든 인덱스를 반환하지만 값은 모두 Nan이 됩니다. 원하는 값이 안나올거에요.

In [44]:
print(series2)
print(series3)

d    1
b    3
a    5
c    7
dtype: int64
0       10
1     1000
2     1000
3    10000
dtype: int64

In [32]:
series2 + series3 #NaN은 Not a Number라는 표현인데 이에 대해서는 조금만 있다가 알아봅시다.

0    NaN
1    NaN
2    NaN
3    NaN
a    NaN
b    NaN
c    NaN
d    NaN
dtype: object

#### 길이가 다른 시리즈끼리 더한다면 같은 인덱스의 값끼리는 연산을 해주지만, 한쪽에 없는 인덱스의 값들은 모두 NaN이 되어 나옵니다.

In [29]:
te1 = pd.Series([1, 2, 3, 4, 5])
te2 = pd.Series([3, 4])

te1 + te2

0    4.0
1    6.0
2    NaN
3    NaN
4    NaN
dtype: float64

# 넘파이

#### 2) Numpy array 생성

데이터 분석에서 다양하게 사용하는 Numpy는 다차원 구조를 가진 데이터를 처리하기 위한 용도로 만들어졌다. Numpy는 loop 프로그랴밍 없이 전체 배열에 대해서 수학 함수를 매우 빠른 속도로 수행할 수 있다. 주로 무작위 난수 생성, 선형대수에서 많이 사용한다. (numpy의 자세한 내용은 뒤에서 다룸.)

In [87]:
import numpy as np #numpy 모듈 명령어

In [88]:
dates = pd.date_range('20200314', periods=5)

In [89]:
df2 = pd.DataFrame(np.random.randn(5,4), index=dates, columns=list('ABCD'))

In [90]:
df2

                   A         B         C         D
2020-03-14  0.732096  0.654155 -0.437181 -0.705007
2020-03-15 -1.758087 -0.835914 -0.027351  1.479315
2020-03-16 -0.860602 -1.183088  0.359203  0.334183
2020-03-17 -0.310224 -0.552506 -1.663587 -0.661654
2020-03-18 -0.125594 -0.692356 -1.195254  0.626317