In [1]:
# pandas 사용하기
import pandas as pd

import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

---
#### 참고 링크:
https://wikidocs.net/64



<br><br><br><br><br>

-------

<br><br> 보충자료 내용 복사

# 0. **함수**
- 프로그래밍을 하다 보면 똑같은 내용을 반복해서 작성하고 있을 때가 종종 있다. 이런 작업을 단순하게 해주는 작업이 바로 함수다.
- 반복 적으로 작성하고 있는 뭉치를 묶어서 '어떤 입력 값을 주었을 때 어떤 결과값을' 돌려주는 것.
- 자신이 만든 코딩의 흐름을 한 눈에 볼 수 있다. -> 프로그래머 능력

<함수 구조>

def 함수명(매개변수): # def 함수를 만들어 예약어? 
    <수행할 문장1>    # 함수 정의 후 if, for, while문 등 다양하게 작성할 수 있다.
    <수행할 문장2>
    ...

In [ ]:
# 간단한 함수 만들기.

def add(a, b): # a, b는 매개변수
    return a + b

In [ ]:
add(7,8) # 7,8은 인수

In [ ]:
- 매개 변수: 함수에 입력으로 전달 된 값을 반듣 변수
- 인수: 함수를 호출할 때 전달하는 입력값

In [ ]:
a = 5
b = 6
c = add(a, b)

print(c)

In [ ]:
# 함수의 결과값은 언제나 하나. -> 명칭 변경하기.

In [ ]:
def add_and_mul(a,b): 
     return a+b, a*b

In [ ]:
add_and_mul(3,4)

<br><br><br><br>

-------

## 1. Lambda(람다) : 익명의 함수 정의

- 표현 방법 -> lambda x: 함수, 리스트 / lambda 인자 : 표현식

예시) 두 수를 더하는 함수

In [4]:
def plus(x, y):
   return x + y

In [5]:
plus(5,6)

11

예시) lambda 형식 변경

In [6]:
(lambda x,y: x + y)(5, 6)

11

---
<br><br><br>

## 2. MAP : 함수를 리스트 원소 각각에 적용 함.

표현 방식 -> list(map(함수, 리스트)) / map(lambda x: 함수, 리스트)
- 함수와 리스트를 인자로 받는다. 리스트로 부터 원소를 하나씩 꺼내서 함수를 적용시킨 다음, 그 결과를 새로운 리스트에 담아준다.

- map 함수는 DataFrame 타입이 아니라, 반드시 Series 타입에서만 사용.

https://dojang.io/mod/page/view.php?id=2286

예시 1) for 반목문

In [31]:
a = [3.9, 4.2, 8.1, 8.5, 6.28 ,9.22]

In [32]:
for i in range(len(a)):
     a[i] = int(a[i])

In [33]:
a

[3, 4, 8, 8, 6, 9]

예시 1) for 반복문 map 사용.

In [34]:
a = [3.9, 4.2, 8.1, 8.5, 6.28 ,9.22]

In [35]:
a = list(map(int, a))

In [36]:
a

[3, 4, 8, 8, 6, 9]

예시 2) range(1, 5) 제곱하는 range 함수

In [35]:
multiply = []

for x in range(1, 5) :

    multiply.append(x ** 2)

print(multiply)

[1, 4, 9, 16]

예시 2) map(lambda) 형식으로 변경

In [10]:
list(map(lambda x: x ** 2, range(5)))

[0, 1, 4, 9, 16]

함수 설명:

1. map 함수가 인자로 받은 함수는 lambda x: x ** 2, 리스트로 range(5)를 받는다. 
2. range(5) 함수가 [0,1,2,3,4] 리스트를 돌려준다
3. [0,1,2,3,4] 리스트를 x**2 (x값 제곱)한다
4. 결과값 도출

<br><br>

---------

## 3. apply : lambda 함수 적용한 컬럼들로 Pandas DataFrame 만들기

표현 방식-> apply(lambda x: 함수, 리스트)

- 데이터 전처리 유용.

In [37]:
aa = pd.DataFrame({'id': ['a', 'a', 'a', 'b', 'b'],
                    'val': [1, 2, 3, 4, 5]})

In [38]:
aa

  id  val
0  a    1
1  a    2
2  a    3
3  b    4
4  b    5

In [41]:
df = aa.groupby('id').apply(lambda x:

      pd.Series({'clst_obs_cnt': len(x), 
                 'clst_val_sum': sum(x.val), 
                 'id_list': x.id.tolist()})).reset_index()

In [40]:
df

  id  clst_obs_cnt  clst_val_sum    id_list
0  a             3             6  [a, a, a]
1  b             2             9     [b, b]

<br><br>

----

<br><br>
**실제 데이터 적용**

In [3]:
data=pd.read_csv('kr_googlestore.csv')

In [4]:
data.head()

,어플,장르,등급,리뷰 수,크기,설치 수,타입,가격,연령층,안드로이드 버전,업데이트_년도,업데이트_달,업데이트_년달
0,Photo Editor & Candy Camera & Grid & ScrapBook,Art & Design,4.1,159,190.0,10000,무료,0,전체가,4.0,2018,1,2018.01
1,Coloring book moana,Art & Design;Pretend Play,3.9,967,140.0,500000,무료,0,전체가,4.0,2018,1,2018.01
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",Art & Design,4.7,87510,8.7,5000000,무료,0,전체가,4.0,2018,8,2018.08
3,Sketch - Draw & Paint,Art & Design,4.5,215644,250.0,50000000,무료,0,청소년,4.2,2018,6,2018.06
4,Pixel Draw - Number Art Coloring Book,Art & Design;Creativity,4.3,967,2.8,100000,무료,0,전체가,4.4,2018,6,2018.06

### data['장르'] 데이터 값 슬라이싱

In [37]:
data['new1']= data['장르'].apply(lambda x: x.split()[0])

In [38]:
data['new1']

0        Art
1        Art
2        Art
3        Art
4        Art
       ...
95      Auto
96      Auto
97      Auto
98    Beauty
99    Beauty
Name: new1, Length: 100, dtype: object

<br><br>

---------

## 다운로드 대비 리뷰가 얼마나 많을까???

In [39]:
data['redownload'] = data.apply(lambda data: data['리뷰 수']/ data['설치 수'], axis=1)

In [40]:
data['new2'] = data.apply(lambda x: x['리뷰 수']/ x['설치 수'], axis=1)

In [41]:
data['new2']

0     0.015900
1     0.001934
2     0.017502
3     0.004313
4     0.009670
        ...
95    0.003508
96    0.005360
97    0.012880
98    0.037800
99    0.049790
Name: new2, Length: 100, dtype: float64

<br><br>

----------

### 각 열에 어떤 값이 얼마나 사용되었는지 보고 싶을 때. (미완)

In [54]:
data.apply(pd.value_counts)

,어플,장르,등급,리뷰 수,크기,설치 수,타입,가격,연령층,안드로이드 버전,업데이트_년도,업데이트_달,업데이트_년달
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
1.1,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1.2,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2.2,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
2.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
"ipsy: Makeup, Beauty, and Tips",1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
무료,NaN,NaN,NaN,NaN,NaN,NaN,71.0,NaN,NaN,NaN,NaN,NaN,NaN
유료,NaN,NaN,NaN,NaN,NaN,NaN,29.0,NaN,NaN,NaN,NaN,NaN,NaN
전체가,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96.0,NaN,NaN,NaN,NaN
청소년,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN

<br><br>

----------

### NaN값을 내가 원하는 값으로 채워넣기 (미완)

In [63]:
data.isnull().sum()

어플           0
장르           0
등급          17
리뷰 수         0
크기          10
설치 수         0
타입           0
가격           0
연령층          0
안드로이드 버전     0
업데이트_년도      0
업데이트_달       0
업데이트_년달      0
dtype: int64

In [20]:
data['등급'].fillna(0)

0     4.1
1     3.9
2     4.7
3     4.5
4     4.3
     ...
95    4.0
96    0.0
97    4.0
98    4.7
99    0.0
Name: 등급, Length: 100, dtype: float64

#### 한슬님 예제 1)

In [23]:
'''
df_train['bldng_ar'] = joined_train.apply(lambda row : row['bldng_ar'] 
                    if row['bldng_ar'] != 0
                        else round(row['lnd_ar'] * row['blm']) 
                    if (row['lnd_ar'] != 0) & (row['blm'] != 0)
                        else 0, axis=1)

''

SyntaxError: EOF while scanning triple-quoted string literal (<ipython-input-23-f7b5679632ed>, line 8)

#### 한슬님 예제 2)

In [42]:
#train = train.dropna(subset=['emd_nm'])

In [43]:
#### 한슬님 예제 3)

In [44]:
train['시도'] = train['emd_nm'].apply(lambda x: str(x).split()[0]) train['시군구'] = train['emd_nm'].apply(lambda x: str(x).split()[1][:3]) train['구시동면읍'] = train['emd_nm'].apply(lambda x: str(x).split()[2]) # 창원시는 따로 train.loc[train['시군구'].apply(lambda x: len(x) > 3), '구시동면읍'] = train['emd_nm'].apply(lambda x: str(x).split()[1][3:]) train['주소'] = train['시도'] + ' ' + train['시군구'] + ' ' + train['구시동면읍']

SyntaxError: invalid syntax (<ipython-input-44-08f8b43b7dac>, line 1)

##### 한슬님 예제 4)

In [45]:
binary_y = {'N': 0, 'Y': 1} train['fr_yn'] = train['fr_yn'].map(binary_y) val['fr_yn'] = val['fr_yn'].map(binary_y) train['mlt_us_yn'] = train['mlt_us_yn'].map(binary_y) val['mlt_us_yn'] = val['mlt_us_yn'].map(binary_y) test['mlt_us_yn'] = test['mlt_us_yn'].map(binary_y)

SyntaxError: invalid syntax (<ipython-input-45-65077b9dfba2>, line 1)

#### 한슬님 예제 5)

In [46]:
train['wnd_spd'] = train.groupby(['주소', 'year-month-day'])['wnd_spd'].transform(lambda x: x.fillna(x.median())) train['wnd_spd']

SyntaxError: invalid syntax (<ipython-input-46-3c907e31dc43>, line 1)

#### 한슬님 예제 5)

In [47]:
corr.loc[corr['tmprtr'] > 0.1, 'tmprtr']

NameError: name 'corr' is not defined

----
<br><br><br><br>

## 예시) lambda, map

In [45]:
if __name__ == '__main__':

    testArr1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
    testArr2 = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

    #lambda 사용법 : 매개변수1, 매개변수2, 매개변수X...: 출력식1 if 조건문 else 출력식2
    #if 조건식 사용할 경우 반드시 else 문 사용해야 한다.

    #람다 예제1 -> if-else 구문 활용한 기본 람다식 예제
    outArr1 = list(map(lambda x: 'OK' if x % 2 == 0 else x, testArr1))
    print('Lambda Example1 : ', outArr1)
 
    #람다 예제2 -> 다중 if-else 구문을 활용한 람다식 예제
    #다중 조건식은 코드의 가독성이 현저하게 떨어지므로, 되도록 함수로 분리
    outArr2 = list(map(lambda x: 'First' if x == 1 else 'Second' if x == 2 else x * x, testArr1))
    print('Lambda Example2 : ', outArr2)

    #람다 예제3 -> 다중 매개변수를 활용한 람다식 예제
    #다중 매개변수 map + 람다식 활용
    outArr3 = list(map(lambda x, y: x + y, testArr1, testArr2))
    print('Lambda Example3 : ', outArr3)

Lambda Example1 :  [1, 'OK', 3, 'OK', 5, 'OK', 7, 'OK', 9, 'OK']
Lambda Example2 :  ['First', 'Second', 9, 16, 25, 36, 49, 64, 81, 100]
Lambda Example3 :  [3, 6, 9, 12, 15, 18, 21, 24, 27, 30]